@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@layer-base {
  body {
    @apply font-roboto;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --color-primary: #0D9488;
  --color-success: #16A34A;
  --color-error: #DC2626;
  --color-warning: #D97706;
}